ASBAService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.quantiguous.com/services" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.quantiguous.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
     <xsd:element ibmSchExtn:docRoot="true" name="addHold">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element ref="tns:version"/>
          	<xsd:element ref="tns:uniqueRequestNo"/>          	
          	<xsd:element ref="tns:appID"/>
          	<xsd:element ref="tns:brokerCode"/>
          	<xsd:element ref="tns:brokerName"/>
          	<xsd:element ref="tns:brokerLocation"/>
          	<xsd:element ref="tns:ipoCode"/>
          	<xsd:element ref="tns:applicationNo"/>
          	<xsd:element ref="tns:dpType"/>
          	<xsd:element ref="tns:issueType"/>
            <xsd:element ref="tns:applicationTimeStamp"/>
          	<xsd:element maxOccurs="1" minOccurs="0" ref="tns:exchangeOrderID"/>	
          	<xsd:element ref="tns:inverstorDetail"/>        	
          	<xsd:element ref="tns:numShares"/>
          	<xsd:element ref="tns:sharePrice"/>
          	<xsd:element ref="tns:totalAmount"/>          	
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element ibmSchExtn:docRoot="true" name="addHoldResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:version"/>
            <xsd:element ref="tns:requestReferenceNo"/>
            <xsd:element ref="tns:ipoCode"/>          	          	
          	<xsd:element ref="tns:applicationNo"/>          	
          	<xsd:element ref="tns:exchangeOrderID"/>
          	<xsd:element ref="tns:inverstorDetail"/>
          	<xsd:element ref="tns:bankReferenceNo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    <xsd:element ibmSchExtn:docRoot="true" name="modifyHold">
    <xsd:complexType>
      <xsd:sequence>
          	<xsd:element ref="tns:version"/>
          	<xsd:element ref="tns:uniqueRequestNo"/>          	
          	<xsd:element ref="tns:appID"/>
          	<xsd:element ref="tns:bankReferenceNo"/>
          	<xsd:element ref="tns:brokerCode"/>
          	<xsd:element ref="tns:brokerName"/>
          	<xsd:element ref="tns:brokerLocation"/>
          	<xsd:element ref="tns:ipoCode"/>
          	<xsd:element ref="tns:applicationNo"/>
            <xsd:element ref="tns:applicationTimeStamp"/>
          	<xsd:element maxOccurs="1" minOccurs="0" ref="tns:exchangeOrderID"/>	
          	<xsd:element ref="tns:inverstorDetail"/>        	
          	<xsd:element ref="tns:numShares"/>
          	<xsd:element ref="tns:sharePrice"/>
          	<xsd:element ref="tns:totalAmount"/>          	         	
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    <xsd:element ibmSchExtn:docRoot="true" name="modifyHoldResponse">
    <xsd:complexType>
      <xsd:sequence>
            <xsd:element ref="tns:version"/>
            <xsd:element ref="tns:requestReferenceNo"/>
            <xsd:element ref="tns:ipoCode"/>
          	<xsd:element ref="tns:applicationNo"/>          	
          	<xsd:element ref="tns:exchangeOrderID"/>
          	<xsd:element ref="tns:inverstorDetail"/>
          	<xsd:element ref="tns:bankReferenceNo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    <xsd:element ibmSchExtn:docRoot="true" name="withdrawHold">
    <xsd:complexType>
      <xsd:sequence>
          	<xsd:element ref="tns:version"/>
          	<xsd:element ref="tns:uniqueRequestNo"/>          	
          	<xsd:element ref="tns:appID"/>
          	<xsd:element ref="tns:bankReferenceNo"/>
          	<xsd:element ref="tns:brokerCode"/>
          	<xsd:element ref="tns:brokerName"/>
          	<xsd:element ref="tns:brokerLocation"/>
          	<xsd:element ref="tns:ipoCode"/>
          	<xsd:element ref="tns:applicationNo"/>
            <xsd:element name="applicationTimeStamp" type="tns:applicationTimeStampType"/>
          	<xsd:element maxOccurs="1" minOccurs="0" ref="tns:exchangeOrderID"/>	
          	<xsd:element ref="tns:inverstorDetail"/>        	
          	<xsd:element ref="tns:numShares"/>
          	<xsd:element ref="tns:sharePrice"/>
          	<xsd:element ref="tns:totalAmount"/>  
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    <xsd:element ibmSchExtn:docRoot="true" name="withdrawHoldResponse">
    <xsd:complexType>
      <xsd:sequence>
            <xsd:element ref="tns:version"/>
            <xsd:element ref="tns:requestReferenceNo"/>
            <xsd:element ref="tns:ipoCode"/>
          	<xsd:element ref="tns:applicationNo"/>          	
          	<xsd:element ref="tns:exchangeOrderID"/>
          	<xsd:element ref="tns:inverstorDetail"/>
          	<xsd:element ref="tns:bankReferenceNo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    <xsd:element ibmSchExtn:docRoot="true" name="inquireHold">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version"/>  
        <xsd:element ref="tns:appID"/>
        <xsd:element ref="tns:brokerCode"/>    
      	<xsd:element ref="tns:requestReferenceNo"/>     	
        <xsd:element maxOccurs="1" minOccurs="0" ref="tns:bankReferenceNo"/>
        <xsd:element ref="tns:ipoCode"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="inquireHoldResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version"/>
      	<xsd:element ref="tns:requestReferenceNo"/>      
      	<xsd:element ref="tns:bankReferenceNo"/>
      	<xsd:element ref="tns:ipoCode"/>
        <xsd:element ref="tns:applicationNo"/>
        <xsd:element ref="tns:inverstorDetail"/>
        <xsd:element ref="tns:exchangeOrderID"/> 
      	<xsd:element ref="tns:numShares"/>
      	<xsd:element ref="tns:sharePrice"/>
      	<xsd:element ref="tns:totalAmount"/> 
		<xsd:element name="applicationStatus" type="tns:statusType">
		  <xsd:annotation>
			<xsd:documentation>The staus of the application.</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>      	              	
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="version" type="tns:versionType">
    <xsd:annotation>
			<xsd:documentation>When sent in the request, this reflects the version that is known to the client. Clients should always send a value that they were developed with. When sent in the reply, this reflects the version that is known to the server. This is updated whenever there is a change in the specification or the behavior of the server. These versions are not required to match, and are to be used to when dealing with compatibility issues.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
   
  <xsd:element name="uniqueRequestNo" type="tns:referenceNoType">
		<xsd:annotation>
			<xsd:documentation>
				A unique reference number to be sent by the client
				application. The API ensures that duplicate requests are
				rejected. It is the responsibility of the client to
				ensure that a unique reference is always generated. A
				UUID may be used if no other mechanism is available.
			</xsd:documentation>
		</xsd:annotation>
  </xsd:element>

  <xsd:element name="requestReferenceNo" type="tns:referenceNoType">
		<xsd:annotation>
			<xsd:documentation>
                The unique reference number that was supplied when the operation was called.
			</xsd:documentation>
		</xsd:annotation>
  </xsd:element>
    
  <xsd:element name="appID" type="tns:appIDType">
  	<xsd:annotation>
  		<xsd:documentation>A unique ID assigned to every application. The appID should be enabled and valid in the back end systems for the transactions to proceed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

   <xsd:element name="ipoCode" type="tns:ipoCodeType">
        <xsd:annotation>
        	<xsd:documentation>the code assigned by the bank for the IPO</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   
   <xsd:element name="inverstorDetail" type="tns:inverstorDetailType">
   		<xsd:annotation>
   			<xsd:documentation>the full detail of the investor</xsd:documentation>
   		</xsd:annotation>
   </xsd:element>
    <xsd:element name="applicationNo" type="tns:applicationNoType">
    	<xsd:annotation>
    		<xsd:documentation>the application No</xsd:documentation>
    	</xsd:annotation>    
    </xsd:element>	
    <xsd:element name="exchangeOrderID" type="tns:exchangeOrderIDType">
        <xsd:annotation>
        	<xsd:documentation>the exchange Order ID</xsd:documentation>
        </xsd:annotation>
    </xsd:element>	

   	<xsd:element name="numShares" type="tns:numSharesType">
   		<xsd:annotation>
   			<xsd:documentation>the number of shares applied for </xsd:documentation>
   		</xsd:annotation>
   	</xsd:element>
   	<xsd:element name="sharePrice" type="tns:positiveDecimal">
   		<xsd:annotation>
   			<xsd:documentation>the unit price per share</xsd:documentation>
   		</xsd:annotation>
   	</xsd:element>
   	<xsd:element name="totalAmount" type="tns:positiveDecimal">
   		<xsd:annotation>
   			<xsd:documentation>the total amount of the application, this is a simple multiplication of the number of shares and the unit price of the share.</xsd:documentation>
   		</xsd:annotation>
   	</xsd:element>   
  	<xsd:element name="brokerCode" type="tns:brokerCodeType">
   		<xsd:annotation>
   			<xsd:documentation>The unique ID assigned to the broker by the bank. It is
    			required to be sent with every request.</xsd:documentation>
   		</xsd:annotation>  
   	</xsd:element>
   		<xsd:element name="brokerName" type="tns:brokerNameType">
   		<xsd:annotation>
   			<xsd:documentation>The name of the Broker.</xsd:documentation>
   		</xsd:annotation>  
   	</xsd:element>	
  	<xsd:element name="brokerLocation" type="tns:brokerLocationType">
    	<xsd:annotation>
    		<xsd:documentation>
    			the location code of Broker
    		</xsd:documentation>
    	</xsd:annotation>
  	</xsd:element>
    <xsd:element name="applicationTimeStamp" type="tns:applicationTimeStampType">
        <xsd:annotation>
        	<xsd:documentation>the created Date of the application</xsd:documentation>
        </xsd:annotation>
    </xsd:element>           	 
	      	          		
	<xsd:element name="bankReferenceNo" nillable="true" type="tns:bankReferenceNoType">
    	<xsd:annotation>
    		<xsd:documentation>
    			the unique generated Transaction Ref No by ASBA system.
    		</xsd:documentation>
    	</xsd:annotation>
    </xsd:element>	
    	
    <xsd:simpleType name="numSharesType">
		<xsd:restriction base="xsd:int">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="ipoCodeType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1" />
    		<xsd:maxLength value="45" />
    		<xsd:pattern value="\w*" />

    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="statusType">
      	<xsd:restriction base="xsd:string">
      	</xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="versionType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="\d.*"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
      
      <xsd:simpleType name="referenceNoType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="\w*"/>
		</xsd:restriction>
	</xsd:simpleType>
	      
      <xsd:simpleType name="appIDType">
           <xsd:restriction base="xsd:string">
                <xsd:minLength value="5"/>
                <xsd:maxLength value="20"/>
                <xsd:pattern value="\w*"/>
                <xsd:whiteSpace value="collapse"/>
           </xsd:restriction>
      </xsd:simpleType>
      
      
      
    <xsd:complexType name="inverstorDetailType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="0" name="dpID" type="tns:dpIDType">
		    	<xsd:annotation>
		    		<xsd:documentation>
		    			the DP ID of the investor
		    		</xsd:documentation>
		    	</xsd:annotation>
    	    </xsd:element>    		
    		<xsd:element name="clientID" type="tns:clientIDType">
    		    <xsd:annotation>
		    		<xsd:documentation>
		    			the Client ID of the investor
		    		</xsd:documentation>
    	        </xsd:annotation>
    	    </xsd:element>
    		<xsd:element name="PAN" type="tns:PANType">
		        <xsd:annotation>
		        	<xsd:documentation>the PAN no. of the investor</xsd:documentation>
		        </xsd:annotation>
            </xsd:element>    		
    		<xsd:element name="category" type="tns:categoryType">
		    	<xsd:annotation>
		    		<xsd:documentation>
		    			the investor category, these categories are - qualified
		    			institutional buyers, non-institutional investors and
		    			retail investors
		    		</xsd:documentation>
		    	</xsd:annotation>
    	    </xsd:element>    		
    		<xsd:element name="accountNo" type="tns:accountNoType">
		    	<xsd:annotation>
		    		<xsd:documentation>
		    			the account number of Investor.
		    		</xsd:documentation>
		    	</xsd:annotation>
	    	</xsd:element>    		
    	</xsd:sequence>
    </xsd:complexType>
  
      <xsd:element name="dpType" type="tns:dptypeType">
		    	<xsd:annotation>
		    		<xsd:documentation>
		    			the type of DP
		    		</xsd:documentation>
		    	</xsd:annotation>
	  </xsd:element> 
	    	
	    <xsd:element name="issueType" type="tns:issuetypeType">
		    	<xsd:annotation>
		    		<xsd:documentation>
		    			the type of issue
		    		</xsd:documentation>
		    	</xsd:annotation>
	    </xsd:element> 
	    	
	 <xsd:simpleType name="dptypeType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="4"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="[A-Z]*|[a-z]*"/>
    	</xsd:restriction>
    </xsd:simpleType>   
	    	
	 <xsd:simpleType name="issuetypeType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="10"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="[A-Z]*|[a-z]*"/>
    	</xsd:restriction>
    </xsd:simpleType> 

    <xsd:simpleType name="brokerCodeType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="45"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="brokerNameType">
    	<xsd:restriction base="xsd:string">
    		<xsd:maxLength value="100"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="brokerLocationType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="50"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="applicationNoType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="8"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\d*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="applicationTimeStampType">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="exchangeOrderIDType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="45"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="dpIDType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="8"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="positiveDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:minExclusive value="0"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="clientIDType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="8"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\d*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PANType">
        <xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="10"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="categoryType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="0"/>
    		<xsd:maxLength value="5"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="accountNoType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="15"/>
    		<xsd:pattern value="\d*"/>
    		<xsd:whiteSpace value="collapse"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="bankReferenceNoType">
    	<xsd:restriction base="xsd:string">
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="45"/>
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:pattern value="\w*"/>
    	</xsd:restriction>
    </xsd:simpleType>

</xsd:schema>